{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "stryker": {
            "report": "/^\\d\\.\\d\\.x$/"
        }
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
